.calendar {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 15px;
    margin-bottom: 10px;
}

table.calendar {
    margin: auto;
    border-collapse: collapse;
}

.calendar .days td {
    width: 90px;
    height: 65px;
    padding: 4px;
    border: 1px solid #999;
    vertical-align: top;
    background-color: #DEF;
}

.calendar .days td:hover {
    background-color: #FFF;
}

.calendar .highlight {
    font-weight: bold;
    color: rgba(255, 0, 0, 0.247);
}

.calendar a {
    font-size: 12px;
}

.scroll {
    max-height: 420px;
    overflow-y: auto;
}

a.btn.btn-danger.rounded-pill.float-right {
    margin-left: 10px;
}

a.btn.btn-primary.add-event{
    /* margin-left: 150px; */
    float: right;
}

div.col-sm-7.table-event{
    margin-left: 50px;
}

div.nav-log-button {
    margin-right: 5px;
}

nav.nav-extra {
    background-color: #d4eafa;
}

h3.comment-start {
    margin-left: 150px;
}

div.comment {
    margin-bottom: 50px;
}

h4.nothing {
    margin-bottom: 50px;
}

div.space {
    margin-bottom: 50px;
}

div.rate-start {
    margin-left: 150px;
}
